<h2>Monthly Budget</h2>

<form action="/budget/save" method="post">
    <input type="number" step="0.01" name="amount" placeholder="Enter Monthly Budget" required>
    <button type="submit">Save Budget</button>
</form>

<hr>

<p>Total Spent: ₹ <span th:text="${totalExpense}"></span></p>

<div th:if="${budget != null}">
    <p>Budget: ₹ <span th:text="${budget.amount}"></span></p>
    <p>Remaining: ₹ <span th:text="${remaining}"></span></p>
    <p>Used: <span th:text="${percentUsed}"></span>%</p>

    <div th:if="${percentUsed >= 80 and percentUsed < 100}">
        <p style="color: orange;">Warning: You have used 80% of your budget!</p>
    </div>

    <div th:if="${percentUsed >= 100}">
        <p style="color: red;">Budget Exceeded!</p>
    </div>
</div>